:root {
    --primary-color     : #ff7e01;
    --secondary-color   : #faa935;
    --heading-color     : #0b2727;
    --text-color        : #6e7074;
    --font-name         : "Montserrat", sans-serif;
    --subtitle-font-name: "Island Moments", cursive;
 }

.card, .cardbody{
    display: inline-block;
    margin: 20px;
}

.heading{
    color: 6e7074;

    font-weight: bold;
    font-size: 30px;
}